<center>
<h1 class="display-4">Update Account</h1>
<%= render "layouts/errors", :object => @reader %>
<div class="border-class">
<%= render 'reader' %><br>
<%= button_to "Delete Reader Profile/Account", reader_path(@reader), method: :delete, data: {confirm: "Are you sure? All reviews will be deleted with your user profile."} %>

</div>
</center>