<center>
<h1>Update Account</h1>
<%= render "layouts/errors", :object => @reader %>
<%= render 'reader' %><br>
<%= button_to "Delete Reader Profile/Account", reader_path(@reader), method: :delete %>
</center>