<center>
<h1 class="display-4">Edit Review</h1>
<hr>
<%= render "layouts/errors", :object => @review %>
<div class="border-class">
<%= render 'review' %><br>
<%= button_to "Delete Review", review_path(@review), method: :delete %>
</div>
</center>